<mat-card class="material-card">
  <mat-grid-list cols="4" rowHeight="100px">

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="from_date" placeholder="From date">
        <mat-datepicker-toggle matSuffix [for]="from_date"></mat-datepicker-toggle>
        <mat-datepicker #from_date></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="to_date" placeholder="To date">
        <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
        <mat-datepicker #to_date></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="Number of Adults" disableRipple>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button color="primary" routerLink="/booking">Check Availability</button>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
