<mat-card class="material-card">
  <mat-grid-list cols="1">
    <mat-card class="profile-card">
        <h3>Profile Details</h3>
        <form #profileForm = "ngForm" class="form-container" (ngSubmit)="onSubmit()" novalidate>
          <mat-form-field>
            <input matInput placeholder="Name" type="text" name="name" [(ngModel)] = "customer.name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" type="email" name="email" [(ngModel)] = "customer.email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile Number" type="number" name="phoneNumber" [(ngModel)] = "customer.phoneNumber">
            <span matPrefix>+91&nbsp;</span>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Flat No/Building Name" type="text" name="address1" [(ngModel)] = "customer.address1">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Street Address" type="text" name="address2" [(ngModel)] = "customer.address2">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="City" type="text" name="city" [(ngModel)] = "customer.city">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State/Province" type="text" name="state" [(ngModel)] = "customer.state">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="ZipCode" type="number" name="zipCode" [(ngModel)] = "customer.zipcode">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Country" type="text" name="country" [(ngModel)] = "customer.country">
          </mat-form-field>

          <mat-card-actions align="end">
            <button mat-raised-button color="primary">Save</button>
          </mat-card-actions>
        </form>
    </mat-card>
  </mat-grid-list>
</mat-card>
