<app-search></app-search>

<mat-card class="material-card" *ngFor="let room of rooms">
  <mat-grid-list cols="4" >
    <mat-grid-tile [colspan]="1">
      <img mat-card-image src={{room.images[0]}} alt={{room.roomType}}>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-card-content style="margin: 10%">
        <p style="text-align: justify;">{{room.description}}</p>
          <li *ngFor="let detail of room.details"><strong>{{detail[0]}}</strong> {{detail[1]}}</li>
        <p style="text-align: justify;"><strong>Price:</strong> ₹ {{room.price}}/night</p>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <a routerLink="/book"><button mat-raised-button color="primary" (click)="startBooking(room)" >Book Room</button></a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
