<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Hotel Reservation</span>
    <span class="toolbar-spacer"></span>
    <mat-icon class="toolbar-icon">account_circle</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="material-card">
  <img mat-card-image src="../assets/Tamara-Coorg.jpeg" alt="Tamara coorg">
</mat-card>

<mat-card class="material-card">
  <mat-grid-list cols="4" rowHeight="100px">

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="from_date" placeholder="From date">
        <mat-datepicker-toggle matSuffix [for]="from_date"></mat-datepicker-toggle>
        <mat-datepicker #from_date></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="to_date" placeholder="To date">
        <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
        <mat-datepicker #to_date></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="Number of Adults" disableRipple>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button color="primary">Check Availability</button>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>

<mat-card class="material-card">
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile [colspan]="1">
      <img mat-card-image src="../assets/42190703.jpg" alt="Tamara coorg">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-card-content style="margin: 10%">
        <p style="text-align: justify;">Our luxury cottages located on a cliff offer a spectacular view of the
          surrounding verdant greenery. The elegant interiors reflect the serenity of nature in subtle pastel tones. The
          bed on an elevated platform adds a dramatic feel and a spacious look to the living area. The luxury cottage
          opens to an east-facing private sundeck, an ideal haunt to unwind.</p>
        <ul>
          <li><strong>Number of Cottages:</strong> 41 &amp; 1 Accessible Cottage</li>
          <li><strong>Dimension: </strong>608 square feet</li>
          <li><strong>Occupancy: </strong>2 Adults</li>
          <li><strong>Extra Person: </strong>1 Adult <em>(Age limit 12- 15 years on a 5ft Couch)</em></li>
        </ul>
        <p style="text-align: justify;"><strong>Price:</strong> Rs 18,000/night</p>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button mat-raised-button color="primary">Book Room</button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-card class="material-card">
  <mat-card-header>
    <mat-card-title><h2>Continue Booking</h2></mat-card-title>
  </mat-card-header>
  <mat-grid-list cols="2" rowHeight="8:10">
    <mat-grid-tile>
      <mat-card class="booking-card">
        <div class="form-container">
          <h3>Guest Details</h3>

          <mat-form-field>
            <input matInput placeholder="Name" type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" type="email">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Mobile Number" type="number">
            <span matPrefix>+91&nbsp;</span>
          </mat-form-field>

          <h3>Payment Details</h3>
          <mat-form-field>
            <input matInput placeholder="Card Holder's Name" type="text">
            <mat-icon matPrefix>account_box</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Card Number" type="number">
            <mat-icon matPrefix>credit_card</mat-icon>
          </mat-form-field>
        </div>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="booking-card">
        <mat-grid-list cols="2">
          <mat-grid-tile>
            <img mat-card-image src="../assets/42190703.jpg" alt="Tamara coorg">
          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image src="../assets/42190719.jpg" alt="Tamara coorg">
          </mat-grid-tile>
        </mat-grid-list>
        <mat-card-content>
          <p style="text-align: justify;">
            Our Luxury Cottages are fully equipped with all amenities to make your stay pleasant and comfortable. These
            rooms come with complimentary non-alcoholic mini bar, LCD television with satellite channels, free Wi-Fi and
            comfortable lounge chairs in a private balcony – perfect for a lazy holiday! </p>

          <h4>Amenities</h4>

          <mat-icon matTooltip="Non-alcoholic minibar replenished once in day">restaurant</mat-icon>

          <mat-icon matTooltip="Plush King Bed with ergonomic mattress">hotel</mat-icon>

          <mat-icon matTooltip="Free Wi-Fi during stay">wifi</mat-icon>

          <mat-icon matTooltip="42″ LCD TV with satellite channels">live_tv</mat-icon>

          <mat-icon matTooltip="Chess board on coffee table, recliner sofa at private sundeck ">casino</mat-icon>

          <mat-icon matTooltip="Telephone, electronic safe, air conditioner, coffee and tea maker, rain shower, organic shower
                  supplies, hair dryer, electric golf car on call">all_inclusive
          </mat-icon>

        </mat-card-content>
        <mat-card-actions>
        <mat-checkbox>I Accept Terms and conditions</mat-checkbox>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary">Book</button>
  </mat-card-actions>
</mat-card>

<mat-card class="material-card">
  <mat-grid-list cols="1">
    <mat-card class="profile-card">
      <div class="form-container">
        <h3>Profile Details</h3>

        <mat-form-field>
          <input matInput placeholder="Name" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" type="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mobile Number" type="number">
          <span matPrefix>+91&nbsp;</span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Flat No/Building Name" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Street Address" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="State/Province" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ZipCode" type="number">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Country" type="text">
        </mat-form-field>

        <mat-card-actions align="end">
          <button mat-raised-button color="primary">Save</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-list>
</mat-card>


