<mat-card class="material-card">
  <mat-card-header>
    <mat-card-title><h2>Continue Booking</h2></mat-card-title>
  </mat-card-header>
  <mat-grid-list cols="2" rowHeight="8:10">
    <mat-grid-tile>
      <mat-card class="booking-card">
        <div class="form-container">
          <h3>Guest Details</h3>

          <mat-form-field>
            <input matInput placeholder="Name" type="text" [(ngModel)]="customer.name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" type="email" [(ngModel)]="customer.email">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Mobile Number" type="number" [(ngModel)]="customer.phoneNumber">
            <span matPrefix>+91&nbsp;</span>
          </mat-form-field>

          <!--<h3>Payment Details</h3>
          <mat-form-field>
            <input matInput placeholder="Card Holder's Name" type="text" [(ngModel)]="card.cardName">
            <mat-icon class="icon"matPrefix>account_box</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Card Number" type="text" pattern="[0-9]{15}" [(ngModel)]="card.cardNumber">
            <mat-icon class="icon" matPrefix>credit_card</mat-icon>
          </mat-form-field>-->
        </div>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="booking-card">
        <mat-grid-list cols="2">
          <mat-grid-tile *ngFor="let image of room.images">
            <img mat-card-image src={{image}}>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-card-content>
          <p style="text-align: justify;">
            {{room.offerings}}</p>

          <h4>Amenities</h4>
          <mat-icon class="icon" *ngFor="let key of amenities" matTooltip={{room.amenities[key]}}>{{key}}</mat-icon>
        </mat-card-content>
        <mat-card-actions>
          <mat-checkbox>I Accept Terms and conditions</mat-checkbox>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="book()">Book</button>
  </mat-card-actions>
</mat-card>
