/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.material-card {
  max-width: 90%;
  max-height: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}

.icon {
  padding: 0 14px;
}
