<mat-card class="material-card">
  <mat-card-header>
    <mat-card-title><h2>Continue Booking</h2></mat-card-title>
  </mat-card-header>
  <mat-grid-list cols="2" rowHeight="8:10">
    <mat-grid-tile>
      <mat-card class="booking-card">
        <div class="form-container">
          <h3>Guest Details</h3>

          <mat-form-field>
            <input matInput placeholder="Name" type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" type="email">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Mobile Number" type="number">
            <span matPrefix>+91&nbsp;</span>
          </mat-form-field>

          <h3>Payment Details</h3>
          <mat-form-field>
            <input matInput placeholder="Card Holder's Name" type="text">
            <mat-icon matPrefix>account_box</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Card Number" type="number">
            <mat-icon matPrefix>credit_card</mat-icon>
          </mat-form-field>
        </div>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="booking-card">
        <mat-grid-list cols="2">
          <mat-grid-tile>
            <img mat-card-image src="../assets/42190703.jpg" alt="Tamara coorg">
          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image src="../assets/42190719.jpg" alt="Tamara coorg">
          </mat-grid-tile>
        </mat-grid-list>
        <mat-card-content>
          <p style="text-align: justify;">
            Our Luxury Cottages are fully equipped with all amenities to make your stay pleasant and comfortable. These
            rooms come with complimentary non-alcoholic mini bar, LCD television with satellite channels, free Wi-Fi and
            comfortable lounge chairs in a private balcony – perfect for a lazy holiday! </p>

          <h4>Amenities</h4>

          <mat-icon matTooltip="Non-alcoholic minibar replenished once in day">restaurant</mat-icon>

          <mat-icon matTooltip="Plush King Bed with ergonomic mattress">hotel</mat-icon>

          <mat-icon matTooltip="Free Wi-Fi during stay">wifi</mat-icon>

          <mat-icon matTooltip="42″ LCD TV with satellite channels">live_tv</mat-icon>

          <mat-icon matTooltip="Chess board on coffee table, recliner sofa at private sundeck ">casino</mat-icon>

          <mat-icon matTooltip="Telephone, electronic safe, air conditioner, coffee and tea maker, rain shower, organic shower
                  supplies, hair dryer, electric golf car on call">all_inclusive
          </mat-icon>

        </mat-card-content>
        <mat-card-actions>
          <mat-checkbox>I Accept Terms and conditions</mat-checkbox>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary">Book</button>
  </mat-card-actions>
</mat-card>
